{% extends "base.html" %}

{% block title %}
Histórico de Pesquisa
{% endblock title %}

{% block content %}
<div class="'card">
    <div class="card-header">
        <h4><b>Histórico de pesquisa por cidade</b></h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Cidade: {{ medicoes_cidade.cidade }}</h5>
        <h5 class="card-title">País: {{ medicoes_cidade.sigla_pais }} <br><br> </h5>

        {% for i in dados_climaticos %}

            <h5 class="card-title">Data: {{ i.data_medicao }}</h5>
            <h5 class="card-title">Hora: {{ i.hora_medicao }}</h5>
            <h5 class="card-title">Horário nascer do sol: {{ i.nascer_sol }}</h5>
            <h5 class="card-title">Horário por do sol: {{ i.por_sol }}</h5>
            <h5 class="card-title">Temperatura: {{ i.temperatura_atual }}</h5>
            <h5 class="card-title">Temperatura Mínima: {{ i.temperatura_minima }}</h5>
            <h5 class="card-title">Temperatura Máxima: {{ i.temperatura_maxima }}</h5>
            <h5 class="card-title">Velocidade do vento (km/h): {{ i.velocidade_vento }}</h5>
            <h5 class="card-title">Umidade relativa do ar (%): {{ i.umidade_relativa_ar }}</h5>
            <h5 class="card-title">Volume de chuva: {{ i.volume_chuva }}</h5>
            <h5 class="card-title">Detalhes: {{ i.detalhes }} <br><br> </h5>

        {% endfor %}

        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
    </div>
</div>
{% endblock content %}
